*
	box-sizing: border-box
	margin: 0
	padding: 0

*:before, *:after
	box-sizing: inherit

html
	min-height: 100%
	background: none

body
	min-height: 100%

.blur
	filter: blur(5px)

.container
	height: 100vh
	background: url('../images/hl-bg.jpg') no-repeat center center
	background-size: cover
	display: flex
	flex-flow: row wrap
	align-items: center
	transition: 500ms ease-in-out all

	filter: blur(10px)

.container:hover
	filter: blur(0px)